{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}

    {% block extrahead %}

    {% endblock extrahead %}

</head>

<body>
    {% include "includes/loading.html" %}

    <div class="d-flex">
        {% include "includes/sidebar.html" %}
        <main class="main-content flex-grow-1" id="mainContent">
            {% include "includes/topnav.html" %}

            <div class="dashboard-content p-3">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    {% if messages %}
    {% include 'includes/pop_up.html' %}
    {% endif %}

    <!-- Load jQuery and Bootstrap first -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Now load your custom scripts AFTER Bootstrap -->
    <script src="{% static 'pharmacy/js/script.js' %}"></script>
    
    {% block extrajs %}
    <!-- Optional additional page-specific JS -->
    {% endblock %}


    {% if request.resolver_match.app_name == 'medical_records' %}
    <script src="{% static 'js/medical_records.js' %}"></script>
    {% endif %}
</body>

</html>